body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.polygon-draw {
    align-items: center;
    width: auto;
    height: 100vh;
    aspect-ratio: 1/0.6;
}

.inference-plots-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.inference-plot {
    flex: 0 0 48%;
    gap: 5%;
    align-self: center;
}

.button-icon{
    color: inherit;
}